body {
  background-color: rgba(85, 130, 5, 0.2);
}

nav>a, a, .footer {
  display: flex;
}

nav>a {
  justify-content: flex-start;
  background-color: inherit;
}
.modal-content, a {
  background-color: rgba(5, 85, 130, 0.2);
}

a {
  justify-content: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

.modal{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s;
}

.modal:target{
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.modalContent{
  padding: 1.5em 2em;
  width: 500px;
  max-width: 90%;
  border-radius: 4px;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #588270;
}
.mini{
  color: rgb(9, 182, 240);
  font-size: 10px;
}
.footer{
  height: 50px;
  background-color: rgb(141, 138, 138);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
footer>img{
  width: 30px;
  height: 30px;
}